@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}
.Navbar {
  width: 100%;
  height: 70px;
  /* background: red; */
  position: fixed;
  top: 0;
  left: 0;
}
.top {
  /* background: rebeccapurple; */
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

.applogo {
  position: inherit;
  left: 4vw;

  height: auto;
  width: auto;
  /* background: red; */
  cursor: pointer;
}

.WelcomeText {
  position: inherit;
  left: 14vw;

  height: auto;
  width: auto;
  /* background: red; */
}

.Icon {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notificationIcon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* background: red; */

  position: absolute;

  left: 78vw;

  cursor: pointer;

  transition: 0.4s;
}

.notificationIcon:hover {
  background: rgba(128, 128, 128, 0.31);

  transform: translateZ(3);
}

.ProfileImage {
  height: 50px;
  width: 50px;
  background: red;

  position: absolute;
  left: 82.8vw;

  border-radius: 50%;
}

.Selector {
  position: inherit;
  left: 86.5vw;

  height: auto;
  width: auto;

  display: flex;
  /* background: red; */
}

.selectorArrow {
  width: 12px;
  height: 15px;
  position: relative;
  left: 2px;
  top: 2.9px;
  /* background: red; */
  transform: rotate(180deg);

  cursor: pointer;
}

.selectorArrow:hover {
  border-width: 0.5px;
  border-style: solid;
  border-color: black;
}
